
<% if current_user && (current_user.role == "guest") %>
  <h1><%= t(".title") %></h1>

  <%= render 'programmes' %>

<% elsif current_user && (current_user.role == "admin") %>
    <%= render 'users/index' %>
    <br>
    <!-- link_to t(".new"), new_programme_path(user: current_user), class: "button" -->
<% end %>
