<table>
  <!-- td>< @programme.exercise[0].name %></td>
  <td>< exercise.link %></td>
  <td>< exercise.notes %></td>
  <td>< exercise.reps %></td>
  <td>< exercise.tempo %></td>
  <td>< exercise.kit %></td>
  <td>< exercise.programme %></td -->
</table>

<%= link_to t(".edit"), edit_programme_path(@programme) %> |
<%= link_to t(".back"), programmes_path %>
