// Place all the styles related to the exercises controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exercises {

  tr {
    height: $row-height;
    background-color: $primary-green
  }

  th {
    text-align: left;
    padding: $padding-small;
  }

  .notes {
    input {
      width: 97%;
    }
  }

  .half {
    width: 90px;
  }

  .separate label:first-child {
      margin-right: 76px;
  }

  .right {
    float: right;
  }
}