// Place all the styles related to the programmes controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.programmes {
  tr {
    height: $row-height;

    th {
      background-color: $lightest-grey;
      padding-left: 5px;
      padding-right: 5px;
    }

    td {
      font-size: $small-font;
      color: $dark-grey;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .firstcol {
    font-weight: bold;
    font-size: $medium-font;
  }
}
