.button {
  text-decoration: none;
}

input[type=submit], .button {
  background-color: $button-blue;
  color: $white;
  border: none;
  padding: $padding-default;
  border-radius: 5px;
  margin-bottom: $padding-large;
}

input[type=text], select {
  padding: $padding-default;
  border-color: $light-grey;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: $padding-default;
}

textarea:focus, input:focus{
  outline: none;
}
